<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E2F2C171EA88BC400A522B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E2F2C301EA88BC400A522B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E2F2C3B1EA88BC400A522B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
